@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* background-color: var(--background); */
  /* color: var(--text); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --text: #000000;
  }
  a:hover {
    --color: #747bff;
  }
  button {
    --background-color: #121212;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --text: #ffffff;
  }
  a:hover {
    --color: #747bff;
  }
  button {
    --background-color: #f9f9f9;
  }
} */

/* define fontsize variables in tailwind css*/

.text-md{
  font-size: medium;
}
.text-sm{
  font-size: small;
}
.text-lg{
  font-size: large;
}